.topnav {
    overflow: hidden;
    background-color: #764AF1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .icon-section{
     list-style-type: none;
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      margin: 0;
      padding: 0;
  }
  .icon-section li{
      text-decoration: none;
      color:white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
  
  .icon-section li:hover, a:hover{
      color:lightgray;
  }
  .icon{
      font-weight: bold;
  }
  .search-container{
      width: 33%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .search-container input{
        padding: 6px;
        font-size: 17px;
        border: none;
        border-radius: 3px 0px 0px 3px;
    }
    .search-container button{
        padding: 6px;
        font-size: 17px;
        border: none;
        border-radius: 0px 3px 3px 0px;

    }
    .button-container{
        list-style-type: none;
        width: 33%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        padding-right: 15px;
        
    }
    .button-container li{
        border-radius: 3px;
        margin-left: 10px;
        background-color: #F73D93;
        text-align: center;
        padding: 7px 10px;
        text-decoration: none;
        font-size: 14px;   
        color:white;
    }
    .button-container li:hover, a:hover{
        color: #F73D93;
        background-color: white;
        
    }
    a{
        text-decoration: none;
        color:white;    
    }
